/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: #f5f5f5;
}
